.sign-wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: 37.5% 62.5%;
}

.sign-wrapper-in {
  width: 100%;
  display: grid;
}

.other-option-up {
  grid-row: 1 / span 1;
  background: rgb(52, 155, 154);
  width: 100%;
}

.other-option-in {
  grid-row: 2 / span 1;
  background: rgb(52, 155, 154);
  width: 100%;
}

.sign-form-wrapper {
  grid-row: 2 / span 1;
  width: 100%;
  background-color: white;
}

.sign-form-wrapper-in {
  grid-row: 1 / span 1;
  width: 100%;
  background-color: white;
}

.user-info {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.icon-data {
  width: 10%;
  background-color: #f1f1f1;
}

.icon-data img {
  width: 50%;
  margin-left: 25%;
  margin-top: 15px;
}

.other-option-title {
  margin-left: 20%;
  color: white;
  width: 70%;
  text-align: center;
  margin-top: 20px;
}

.option-description {
  color: white;
  margin-left: 20.5%;
  text-align: center;
  width: 58%;
  font-size: 16px;
}

.switch-btn {
  color: white;
  background-color: rgb(52, 155, 154);
  border: 1px solid white;
  border-radius: 40px;
  padding: 10px;
  width: 55%;
  margin-left: 22.5%;
  cursor: pointer;
  margin-top: 20px;
}

.sign-title {
  width: 80%;
  margin-left: 10%;
  margin-top: 12.5%;
  text-align: center;
  color: rgb(52, 155, 154);
  font-size: 36px;
}

.form-sign {
  width: 80%;
  margin-left: 10%;
}

.input-data {
  width: 95%;
  border: none;
  background-color: #f1f1f1;
}

.submit-btn {
  color: white;
  background-color: rgb(52, 155, 154);
  border: 1px solid white;
  border-radius: 40px;
  padding: 12.5px;
  margin-left: 10%;
  cursor: pointer;
  margin-top: 20px;
  width: 80%;
}

@media screen and (min-width: 1024px) {
  .sign-wrapper {
    grid-template-columns: 35% 65%;
    grid-template-rows: none;
  }

  .sign-wrapper-in {
    grid-template-columns: 65% 35%;
    grid-template-rows: none;
  }

  .other-option-up {
    grid-column: 1 / span 1;
    grid-row: none;
  }

  .other-option-in {
    grid-column: 2 / span 1;
    grid-row: none;
  }

  .sign-form-wrapper {
    grid-column: 2 / span 1;
    grid-row: none;
  }

  .sign-form-wrapper-in {
    grid-column: 1 / span 1;
    grid-row: none;
  }



  .option-description {
    width: 50%;
    margin-left: 25%;
  }

  .switch-btn {
    padding: 10px 75px;
  }

  .sign-title {
    width: 60%;
    margin-left: 20%;
    position: relative;
    top: 15%;
  }

  .form-sign {
    width: 60%;
    margin-left: 20%;
    position: relative;
    top: 15%;
  }

  .submit-btn {
    padding: 10px 75px;
    margin-left: 30%;
    width: auto;
  }
}
