body { margin: 0; }
.splash-wrapper {
  width: 100%;
  background: linear-gradient(rgb(52, 155, 154), rgb(98, 200, 152));
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
}

.logo-img {
  width: 40%;
  margin-left: 30%;
}

.logo-text {
  width: 100%;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
}

.registration-links{
  position: relative;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}

.sign {
  width: 100%;
  text-decoration: none;
  border: 1px solid white;
  text-align: center;
  padding: 10px 0;
  border-radius: 40px;
  font-weight: 600;
  font-family: Montserrat,sans-serif;
  font-size: 12px;
}

.up {
  background-color: linear-gradient(rgb(52, 155, 154), rgb(98, 200, 152));
  color: white;
  margin-bottom: 10px;
}

.in {
  background-color: white;
  color: rgb(52, 155, 154);
}

.app-inf {
  display: none;
}