.car-wrapper {
  margin: 5% 10% 20% 25%;
  height: 80%;
  width: 50%;
  box-shadow: 0 0 10px;
  padding: 5%;
}

.car-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

@media screen and (max-width: 720px) {
  .car-wrapper {
    margin: 5% 10% 20% 5%;
    height: 80%;
    width: 90%;
    box-shadow: 0 0 10px;
    padding: 5%;
  }
}
