.myreservations {
    display: flex;
    flex-direction: row;
}

.myreserve-body {
    margin-left: 25%;
    margin-top: 5%;
}

.myreserve-title {
    border: 1px solid lightblue;
    box-shadow: 5px 5px 5px 10px  lightblue;

}