form {
  width: 100%;
}

.new-reserve-container {
  display: flex;
  flex-direction: column;
  background-color: #97bf0f20;
  height: 100%;
}

.reserve-form {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 100vh;
}

.reserve-form button {
  padding: 10px;
  border-radius: 30px;
  color: #97bf0f;
  background-color: #fff;
  border-color: #97bf0f;
}

.city-style {
  margin-right: 20px;
}

div select {
  display: flex;
  flex-direction: row;
}

.city-style select {
  padding: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  color: #fff;
  background-color: #97bf0f;
}

#dropdown-date {
  display: flex;
}

#dropdown-date select {
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  background-color: #97bf0f;
  margin-left: 5px;
}

.alert-reserve {
  margin-bottom: 0;
  margin-top: 20px;
  text-align: center;
  color: rgb(179, 71, 71);
}

@media screen and (max-width: 720px) {
  .reserve-form {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }

  .reserve-form :nth-child(1) {
    order: 2;
  }

  .reserve-form :nth-child(2) {
    order: 1;
  }

  .reserve-form :nth-child(3) {
    order: 3;
  }

  .city-style {
    margin-right: 0;
  }
}
