.user-name-pro {
    background-color: #e3f2fd;
    border: 1px solid transparent;
    color: seagreen;
}

.user-name-pro:hover {
    background-color: #e3f2fd;
    color: seagreen;
    border: 1px solid lightseagreen;
}

.user-name-pro:active {
    background-color: #e3f2fd;
    color: seagreen;
    border: 1px solid lightseagreen;
}

.user-dropdown {
    position: relative;
    right: 30%;
}

.profile-photo {
    position: relative;
    margin-left: 1%;
}
.dateandtime {
    color: seagreen;
    font-style: italic;
    margin-right: 5%;
}